.result-card {
  padding: 10px 20px;
  text-align: center;
  border-radius: 20px;
  margin: 5px;
  background-color: #702963;
  color: white;
  font-size: .8em;
  transition: transform 0.1s, background-color .3s;
}

.result-card:hover {
  transform: scale(1.1);
  background-color: #AA336A;
}